{% extends 'layout.html' %}

{% block content %}


<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Add new category</h1>
                <p>Fill the form below to create a new category</p>

                <form method="POST" action="{{ url_for('add_category')}}">
                        {{ category_form.csrf_token }}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Example label</label>
                        {{ category_form.Name(class='form-control') }}
                    </div>
                    {{ category_form.Submit(class='btn btn-primary') }}
                </form>
        </div>
            <div class="col-3">
                <h3>Categories</h3>
                {% for category in categories %}

                    <ul>
                        <li>
                            {{ category.Name }}
                            <p><a href="{{ url_for('delete_category',category_id=category.ID) }}">Delete</a> </p>
                        </li>

                    </ul>
                {% endfor %}
            </div>
            <div class="col-3 open_sans">
                <h1><i class="fas fa-user-tie"> {{ current_user.FullName }}</i></h1>
                <p class="small">{{ current_user.UserType }}</p>
                <a class="" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"> Logout</i></a>
            </div>
            </div>

    </div>
</section>




<section class="py-5">
    <div class="container">
        <h1>Products</h1>
        <div class="row py-5">

                {% for product in all_products %}
            <div class="col-3 p-5">
                <img class="img-fluid" src="{{ url_for('static', filename='images/product-placeholder.jpg') }}">
                <h6 class="mt-3">{{ product['product_name'] }}</h6>
                <p><b>$ {{ product['product_price'] }}</b></p>
                <p>Seller : {{ product['seller'] }}</p>
                <p class="small">{{ product['product_description'] }}</p>

                <a href="{{url_for('delete_product', product_id=product['product_id'])}}">Delete</a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}