<section class="bg-light py-5 open_sans">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 class="text-danger">About Shopmart</h4>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
            <div class="col-6">
                <h4 class="text-danger">Stay Connected with Shopmart</h4>
                <p class="small">The base .nav component is built with flexbox and provide a strong foundation for building all types of navigation components. It includes some style overrides (for working with lists), some link padding for larger hit areas, and basic disabled styling.</p>


                <div class="row pt-3">
                    <div class="col-12 ">
                        <h6 class="text_gray"><a href="#"><i class="fab fa-facebook-f text_gray"> facebook</i></a>  <a href="#"><i class="fab fa-twitter text_gray pl-3"> twitter</i></a> <a href="#"><i class="fab fa-linkedin text_gray pl-3 "> linkedin</i></a> <a href="#"><i class="fab fa-instagram text_gray pl-3"> instagram</i></a> <a href="#"><i class="fas fa-envelope text_gray pl-3"> email</i></a> </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-1">
    <div class="container">
        <div class="row pt-2">
            <div class="col-3">
                <p class="mt-2">Made with <i class="fas fa-heart text-danger"></i> in Bangladesh</p>
            </div>
            <div class="col-3 text-center">
                <h3 class="text-danger">Shopmart</h3>
            </div>
            <div class="col-6">
                <ul class="nav float-right">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
